body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #facc15, #c4b5fd);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 20px;
  width: 90%;
  max-width: 350px;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #facc15;
  border-radius: 10px;
  cursor: pointer;
}

p {
  color: blue;
  cursor: pointer;
}
.home-container {
  padding: 20px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user {
  background: #eee;
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
}

/* Dark Mode */
.dark {
  background: #0f172a;
  color: white;
}

.dark .user {
  background: #1e293b;
  color: white;
}

/* Smooth animation */
body {
  transition: 0.3s;
}
